.panel {
  background-color: var(--white);
  color: var(--dark);
  position: absolute;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100vw;
  height: 30vh;
  bottom: 0;
  transition: 0.3s ease;
}

.close {
  bottom: calc(-30vh + 1vh);
}

.toggle {
  color: var(--white);
  position: relative;
  top: -2.5rem;
  padding: 1rem 0;
  cursor: pointer;
}
